@font-face {
  font-family: Metropolis-SemiBold;
  src: url(../Font/Metropolis-SemiBold.otf);
}
@font-face {
  font-family: Metropolis-Regular;
  src: url(../Font/Metropolis-Regular.otf);
}
@font-face {
  font-family: Metropolis-Medium;
  src: url(../Font/Metropolis-Medium.otf);
}
@font-face {
  font-family: Metropolis-Bold;
  src: url(../Font/Metropolis-Bold.otf);
}
@font-face {
  font-family: Metropolis-ExtraBold;
  src: url(../Font/Metropolis-ExtraBold.otf);
}
:root {
  --primary-color: #ed017f;
  --secondery-color: #ffffff;
  --menu-color: rgba(0, 0, 0);
  --line-color: #cccccc;
  --content-color: #999999;
  --foot-color: #676767;
  --font-Metropolis-SemiBold: Metropolis-SemiBold;
  --font-Metropolis-Regular: Metropolis-Regular;
  --font-Metropolis-Medium: Metropolis-Medium;
  --font-Metropolis-Bold: Metropolis-Bold;
  --font-Metropolis-ExtraBold: Metropolis-ExtraBold;
}
html,
body {
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  padding: 5px 0 5px;
}
.container {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-3 {
  width: calc(8.33% * 3);
  /* padding: 0 25px; */
  /* display: flex;
  justify-content: center; */
}
.col-4 {
  width: calc(8.33% * 4);
  /* padding: 0 15px; */
}
.col-8 {
  width: calc(8.33% * 8);
  /* padding: 0 15px; */
}
.col-3,
.col-4,
.col-8,
.foot-col {
  padding: 0 15px;
}

/*====================== Navbar ========================*/
.nav-menu,
nav,
.nav-menu > ul,
.nav-btn {
  display: flex;
  align-items: center;
}
.nav-menu {
  flex-grow: 1;
}
.nav-menu > ul {
  margin: 0 auto;
}
.nav-links:hover {
  color: var(--primary-color);
}
.nav-items {
  margin-right: 41.6px;
}
.nav-links {
  color: var(--menu-color);
  font-family: var(--font-Metropolis-SemiBold);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  transition: 0.5s linear;
}
.serv-btn {
  padding: 18px 29.64px 16.17px 30.2px;
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: var(--font-Metropolis-SemiBold);
  color: var(--secondery-color);
  margin-left: 27px;
  transition: 0.5s linear;
}
.serv-btn:hover {
  transform: scale(1.04);
}
.serv-btn-text {
  text-transform: uppercase;
}
.search-btn svg {
  transition: 0.5s linear;
}
.search-btn:hover svg {
  transform: scale(1.05);
}
.menu-btn {
  display: none;
}
/*=================================  Banner section  ======================*/
.banner-sec {
  padding: 0 15px;
}
.banner-row {
  align-items: center;
  flex-wrap: wrap-reverse;
}
.banner-img {
  max-width: 905px;
}
.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner {
  position: relative;
}
.car-loan {
  position: absolute;
  top: 30px;
  left: 77.19px;
  max-width: 197.57px;
  max-height: 71px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20.17px 32.92px 20.18px 27px;
  border-radius: 55px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
}
.home-loan {
  display: flex;
  align-items: center;
  position: absolute;
  right: 82.83px;
  top: 142px;
  max-width: 210.97px;
  max-height: 71px;
  border-radius: 56px;
  font-size: 18px;
  padding: 20.17px 33.32px 20.18px 27px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
}
.home-loan > .btn-cont,
.car-loan > .btn-cont {
  margin-left: 19px;
}
.col-4 > h1 {
  font-size: 57px;
  font-family: var(--font-Metropolis-ExtraBold);
  max-width: 435px;
  line-height: calc(68 / 57);
  padding-bottom: 23px;
}
.col-4 .banner-row-sub-heading {
  max-width: 391.74px;
  line-height: calc(22 / 16);
  font-family: var(--font-Metropolis-Medium);
  padding-bottom: 38px;
}
.banner-btn {
  display: flex;
}
.apply-btn {
  padding: 13px 22.93px 13px 22.07px;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: var(--font-Metropolis-SemiBold);
  color: var(--secondery-color);
  transition: 0.5s linear;
}
.calculat-btn {
  padding: 13px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-Metropolis-SemiBold);
  color: var(--primary-color);
  margin-left: 20px;
  transition: 0.5s linear;
}
.apply-btn:hover,
.calculat-btn:hover {
  transform: scale(1.04);
}
.social-icon > ul,
.phone {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.phone {
  gap: 11px;
  font-size: 17px;
  font-family: var(--font-Metropolis-SemiBold);
  color: var(--menu-color);
}
.social-icon ul li:first-child {
  position: relative;
  margin-right: calc(22.09px * 2);
}
.social-icon ul li:first-child::after {
  content: "";
  width: 2px;
  background-color: var(--line-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -22.09px;
}
.social-icon {
  margin-top: 51px;
}
.social-icon ul li {
  margin-right: 16px;
}
/* .social-icon .phone, */
.social-icon .fb,
.social-icon .yt,
.social-icon .linked,
.social-icon .insta {
  position: relative;
}
/* .social-icon .phone:after, */
.social-icon .fb::after,
.social-icon .yt::after,
.social-icon .linked::after,
.social-icon .insta::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 4px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  bottom: -5px;
  background: var(--primary-color);
  transition: 0.5s linear;
  opacity: 0;
}
/* .social-icon .phone:hover:after, */
.social-icon .fb:hover:after,
.social-icon .yt:hover:after,
.social-icon .linked:hover:after,
.social-icon .insta:hover:after {
  /* width: 100%; */
  opacity: 1;
}

/*======================  customer exp section  =====================*/
.customer-exp {
  padding-top: 100px;
}
.customer-exp .exp-row {
  justify-content: center;
  /* margin: 0 auto; */
}
.customer-exp h2 {
  font-size: 36px;
  line-height: calc(43 / 36);
  /* max-width: 749.73px; */
  margin: 0 auto 18px;
  text-align: center;
  font-family: var(--font-Metropolis-Bold);
}
.customer-exp p {
  max-width: 622.42px;
  line-height: calc(22 / 16);
  margin: 0 auto 78px;
  text-align: center;
  font-family: var(--font-Metropolis-Medium);
}
.exp-card {
  max-width: 259px;
  min-height: 231px;
  padding: 24px 24px 0;
}
.card-cont {
  margin-top: 18px;
}
.card-cont h4 {
  margin-bottom: 10px;
  font-family: var(--font-Metropolis-Bold);
  font-size: 22px;
  line-height: calc(22 / 22);
  color: var(--menu-color);
}
.card-cont p {
  text-align: left;
  font-family: var(--font-Metropolis-Medium);
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--content-color);
}

/*================== Our Services ==========================*/
.our-serv {
  padding-top: 100px;
}
.our-serv h2 {
  font-size: 36px;
  margin: 0 auto 18.48px;
  text-align: center;
  line-height: calc(43 / 36);
  font-family: var(--font-Metropolis-Bold);
}
.our-serv p {
  max-width: 791.88px;
  margin: 0 auto 66.4px;
  text-align: center;
  line-height: calc(22 / 16);
  font-family: var(--font-Metropolis-Medium);
}
.serv-card {
  max-width: 254px;
  margin: 0 auto 20px !important;

  /* border-radius: 9px; */
}
.serv-card-img {
  margin-bottom: 22px;
}
.serv-card > .serv-card-img > img {
  width: 100%;
  height: 365px;
  object-fit: cover;
  border-radius: 9px;
}
.serv-card .card-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serv-card .card-icon h4 {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: calc(35 / 21);
  font-family: var(--font-Metropolis-SemiBold);
  text-transform: uppercase;
}

/*====================== best result ===========================*/

.best-result {
  padding-top: 100px;
  margin-bottom: 81px;
}
.best-result h2 {
  font-size: 36px;
  /* max-width: 474.05px; */
  line-height: calc(43 / 36);
  font-family: var(--font-Metropolis-Bold);
  margin: 0 auto 20px;
  text-align: center;
}
.best-result p {
  max-width: 520.6px;
  line-height: calc(22 / 16);
  font-family: var(--font-Metropolis-Medium);
  margin: 0 auto 66.4px;
  text-align: center;
}
.result-card {
  max-width: 172px;
  margin: 0 auto;
}
.best-result .row {
  row-gap: 55px;
}
.result-card > .num-cont {
  margin-bottom: 8px;
}
.num-cont > h5 {
  font-size: 35px;
  font-family: var(--font-Metropolis-Bold);
  margin-bottom: 8px;
}
.num-cont span {
  font-size: 29px;
}
.result-card > .num-cont p {
  font-family: var(--font-Metropolis-Medium);
  line-height: calc(25 / 16);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.best-result .col-3:first-child .num-cont h5 {
  color: var(--primary-color);
}

/*================================= footer ======================================*/
.foot-section {
  padding: 100px 0;
}
.foot-col {
  margin: 0 auto;
}
.foot-col {
  padding: 0 15px;
  width: 20%;
}
.foot-col div {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: calc(22 / 18);
  font-family: var(--font-Metropolis-SemiBold);
}
.foot-text .foot-cont {
  font-size: 14px;
  font-family: var(--font-Metropolis-Medium);
  color: var(--foot-color);
  text-transform: capitalize;
  line-height: calc(22 / 14);
}
.foot-col:last-child {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  text-align: center;
}
.foot-col:not(:first-child) .foot-text .foot-cont {
  margin-bottom: 10px;
}
.foot-col > .foot-text ul {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.foot-col > .foot-text ul li {
  margin-right: 16px;
}
.foot-text li a {
  transition: 0.5s linear;
  position: relative;
}
.foot-text .foot-cont::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -4px;
  background: var(--primary-color);
  transition: 0.5s linear;
}
.foot-text .foot-cont:hover::after {
  width: 100%;
}
.foot-text > .foot-cont {
  font-size: 14px;
  font-family: var(--font-Metropolis-Medium);
  word-spacing: 1px;
  margin-bottom: 10px;
  color: var(--foot-color);
}
.foot-text > p span {
  text-transform: uppercase;
}
.foot-icon {
  display: flex;
  align-items: center;
  justify-content: start;
}
.foot-social .fb,
.foot-social .linked,
.foot-social .yt,
.foot-social .insta {
  position: relative;
}
.foot-social .fb::after,
.foot-social .yt::after,
.foot-social .linked::after,
.foot-social .insta::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 4px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  bottom: -5px;
  background: var(--primary-color);
  transition: 0.5s linear;
  opacity: 0;
}
.foot-social .fb:hover:after,
.foot-social .yt:hover:after,
.foot-social .linked:hover:after,
.foot-social .insta:hover:after {
  opacity: 1;
}

/*===================  media query ==========================*/

@media screen and (max-width: 1200px) {
  .col-4 > h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1107px) {
  .apply-btn,
  .calculat-btn {
    padding: 10px 15px;
    font-size: 8px;
  }
}
@media screen and (max-width: 1056px) {
  .nav-menu {
    display: none;
  }
  .menu-btn {
    /* display: block; */
    /* 2nd time */
    display: flex;
    align-items: center;
    /* end 2nd time */
    margin-left: auto;
    color: var(--secondery-color);
    position: relative;
    z-index: 99999;
    padding: 5px 20px;
  }
  .menu-btn span {
    height: 2px;
    /* width: 20px; */
    background: black;
    display: inline-block;
    /* 2nd time  */
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.5s linear;
  }
  .menu-btn::after,
  .menu-btn::before {
    position: absolute;
    content: "";
    height: 2px;
    /* width: 20px; */
    left: 0;
    right: 0;
    background: black;
    display: inline-block;
    /* 2nd */
    transition: 0.5s linear;
  }
  .menu-btn::after {
    top: -5px;
  }
  .menu-btn::before {
    bottom: -5px;
  }
  .nav-menu {
    /* position: absolute; */
    /* 2nd time */
    position: fixed;
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    /* right: 0; */
    right: -100%;
    width: 60%;
    background: var(--primary-color);
    padding-top: 81.2px;
    z-index: 998;
    transition: 0.8s linear;
  }
  .nav-menu,
  .nav-menu > ul,
  .nav-btn {
    flex-direction: column;
  }
  .nav-items {
    margin: 0 0 30px;
  }
  .nav-links {
    color: var(--secondery-color);
  }
  .search-btn svg path {
    fill: var(--secondery-color);
    margin: 20px 0;
  }
  .serv-btn {
    margin: 20px 0;
    background: var(--secondery-color);
    color: var(--primary-color);
  }

  .menu-btn.show span {
    transform: translateX(-40px);
    opacity: 0;
  }
  .menu-btn.show::after {
    transform: rotate(45deg) translateX(13px);
  }
  .menu-btn.show::before {
    transform: rotate(-45deg) translateX(12px);
  }
}
@media screen and (max-width: 1024px) {
  .col-3,
  .foot-col {
    width: 50%;
  }
  .col-4,
  .col-8 {
    width: 100%;
  }
  .serv-card {
    max-width: 100%;
  }
  .home-loan {
    display: flex;
    align-items: center;
    position: absolute;
    right: 62.83px;
    top: 142px;
    max-width: 210.97px;
    max-height: 71px;
    border-radius: 56px;
    font-size: 18px;
    padding: 20.17px 33.32px 20.18px 27px;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
  }
  .banner-row h1,
  .banner-row p {
    text-align: center;
    margin: 0 auto;
  }
  .banner-btn,
  .social-icon > ul {
    justify-content: center;
  }
  .exp-card {
    margin: 0 auto 10px;
  }
  .foot-text {
    margin: 10px auto 30px;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .exp-card,
  .card-cont,
  .card-cont p {
    text-align: center;
  }
  .foot-col {
    width: 50%;
    margin: 0 auto;
  }
  .foot-col .foot-title {
    text-align: center;
    /* margin: 0 auto; */
  }
  .foot-col .foot-icon {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .banner-row > .col-4 > h1 {
    font-size: 35px;
  }
  .customer-exp h2,
  .our-serv h2,
  .best-result h2,
  .result-card > .num-cont > h5 {
    font-size: 28px;
  }
  .card-cont h4,
  .result-card > .num-cont > h5 > span {
    font-size: 15px;
  }
  .home-loan,
  .car-loan {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .our-serv .col-3,
  .col-4,
  .col-8,
  .foot-col,
  .banner-row > .col-4 > h1,
  .col-4 .banner-row-sub-heading {
    width: 100%;
    /* margin: 0 auto; */
    /* text-align: center; */
  }
  .nav-menu {
    width: 80%;
  }
  .nav-menu {
    /* padding-top: 40px; */
  }
  .nav-items {
    margin-bottom: 15px;
  }
  .result-card > .num-cont > h5 > span {
    font-size: 20px;
  }
  .result-card > .num-cont > h5 {
    font-size: 26px;
  }
  .foot-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .banner-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .foot-icon {
    justify-content: center;
  }
}
